/* Green theme */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(0,0,0,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  
  .parallax img {
  
  	opacity: 0.5 !important;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* Custom code */

/* Text shadow */

.glow {
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

/* section visibility */
/*body > section.sect:not(.active) { display:none; }*/

section { display:none; }

/* preloader */

#cover { display:none; position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #003300; z-index:9998; opacity: .1}
.preloader-wrapper { display:none; position:absolute; left:50%; top:50%; z-index:9999;}

/* Navbar */

nav a.active, ul.sidenav a.active {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/* .inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
} */

/* Sign in */

div#g-signin2 {
	position: absolute !important;
	top : 10px !important;
	right: 10px !important;
	display: none
}


/* Sign out */

#signout {display:none}

.dropdown-tyaa {
    /*position: relative;
    display: inline-block;*/
    position: absolute !important;
	top : 10px !important;
	right: 10px !important;
}

.dropdown-tyaa img {
	
	border-radius: 50%;
	height: 36px;
	width: 36px;
}

.dropdown-content-tyaa {
    display: none;
    position: absolute !important;
	right: 0px !important;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-tyaa > div {
    color: black;
    padding: 6px 8px;
    /*text-decoration: none;*/
    display: block;
}

.dropdown-content-tyaa a:hover {background-color: #f1f1f1}

/*.dropdown-tyaa:focus .dropdown-content-tyaa {
    display: block;
}*/

/* Select language FAB */

#lang-selector > ul > li > a.btn-floating {
	background-color: #FFFFFF !important;
	color: #000000 !important;
}

#lang-selector > ul > li > a.btn-floating.active {
	background-color: #26a69a !important;
	color: #FFFFFF !important;
}

/*.dropdown-lang-tyaa {
    position: absolute !important;
	top : 100px !important;
	right: 100px !important;
}

#select-language img {
	
	height: 36px !important;
	width: 36px !important;
}*/

/*Flex columns height*/

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* validator */

/*select[required] {
  opacity: 0;
  display: block;
  position: absolute;
  height: 0;
  border: none;
  margin-top: -50px;
}*/

/* Forms */

label {
    width: 100%;
}
.input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

/* Pointers */

#pointer-down {
	width:64px;
	height:64px;
	display: none;
	margin:auto;
}


/* Public find offers grid */

.card-image { background-color: #000000; }
.hoverable img {opacity: 0.9;}
.hoverable .card-title { color: #4db6ac !important; }
.hoverable:hover img {opacity: 0.5;}
.hoverable:hover .card-title { color: #FFFFFF !important; }

.details-image { background-color: #FFFFFF !important; }
/*.card-image img { opacity: 0.7; }*/

.card-title-date { font-size: 14px; }


/* Public create offers table */

tr.BlueRow {background-color:#99CCFF;}
tr.GreenRow {background-color:#CCFFCC;}
tr.RedRow {background-color:#FFCCCC;}
tr.GrayRow {background-color:#9E9E9E;}

#editOffer, #deleteOffer, #changeOfferState{
	margin-bottom: 5px;
}

.selectedTableRow{
    color: #26a69a;
}

/* Modal */

.modal label {
	pointer-events: auto !important;
}

#offer-details h3, #offer-details h4 { color: #4db6ac !important; }